body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(33deg, rgb(4, 74, 92), rgb(151, 214, 211));
}

/* App CSS */

.leaflet-container {
  margin-top: 340px;
  width: 98%;
  height: 60%;
  border-radius: 20px;
  border: thick double #32a1ce;
  position: absolute !important;
  z-index: 0;
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  background-color: rgba(104, 240, 180, 0.6);
  text-align: center;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.leaflet-control-zoom {
  visibility: hidden;
}

.radio-container {
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(6, 141, 107);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.452);
  height: auto;
  width: 70%;
}

li {
  list-style-type: none;
}

.radio-container li {
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}

img.logo-category {
  width: 30px;
  height: 30px;
}

button.showcontact {
  cursor: pointer;
  padding: 0;
  border: none;
  position: absolute;
  margin-top: 150px;
  margin-left: 85%;
  border-radius: 5px;
  background-color: rgb(6, 141, 107);
  box-shadow: 0px 4px 10px rgb(0 0 0 / 45%);
  height: 55px;
    width: 55px;
}

button.showList {
  cursor: pointer;
  padding: 0;
  border: none;
  position: absolute;
  margin-top: 150px;
  margin-right: 85%;
  border-radius: 5px;
  background-color: rgb(6, 141, 107);
  box-shadow: 0px 4px 10px rgb(0 0 0 / 45%);
  height: 55px;
    width: 100px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    
}

.showList p {
  margin-block-start: 0.5em;
  margin-block-end: 1em;
}


p.contact img{
  padding: 0;
  margin-top: -10px;
  margin-left: 3px;
  display: block;
  height: 50px;
  width: 50px;
}

img.download {
  padding: 0;
  margin-top: -30px;
  margin-left: 3px;
  display: block;
  height: 40px;
  width: 40px;
}


button.showList :hover {
  color: rgb(0, 51, 99);
}



ul.list {
    margin-top: -15px;
    width: 98%;
    line-height: 1.2em;
    padding: 0;
    overflow: auto;
    border-radius: 20px;
    border: thick double #32a1ce;
    background-color: rgb(89, 126, 158);
}

li.list {
  width: 400px;
  padding: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  border: #32a1ce;
}

a{
  color: rgb(0, 17, 110);
}

sup.numberCategory {
  color: rgb(207, 207, 207);
}

button.button-category {
  font-size: 17px;
  font-weight: bold;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  background: none;
  border: none;
}

button.button-category:hover {
  color: rgb(0, 51, 99);  
  text-shadow: black;
  /* font-size: 19px;
  transition: 300ms; */
}

ul label:hover {
  color: rgb(0, 51, 99);
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Contact CSS */

form {
  margin-top: 350px;
  position: absolute;
  border-radius: 5px;
  padding: 10px 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.307);    
  background-color: rgb(6 141 107 / 92%);
  height: auto;
  width: 350px; 
  z-index: 110; 
  display: inline-block;
}

div.contact {
  margin-top: 350px;
  position: absolute;
  border-radius: 5px;
  padding: 10px 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.307);    
  background-color: rgb(6 141 107 / 92%);
  height: auto;
  width: 350px; 
  z-index: 110; 
  display: inline-block;  
}

div.contact span.text {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: white;
    padding: 10px;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
}

div.contact a {
  display: inline-block;
}

div.contact h2 {
  margin-block-start: 0.53em;
}

div.contact div{
  margin-top: 10px;
}

div.contact input{
  display: grid;
}
div.contact select{
  display: block;
}
div.contact button{
  display: block;
}
div.contact textarea{
  display: block;
  resize: none;
  height: 100px;
  width: 250px;
}


/* Logo CSS */

.logo {
  margin: 5px auto;
  width: 800px;
  border-radius: 10px;
  padding: 10px 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.307);    
  background-color: rgb(151, 214, 183);    
}

.logo-pos {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.icon-logo {
  /* position: absolute; */
    height: 70px;
    padding-top: 30px;
}

.icon-logo-2 {
  /* position: absolute; */
    height: 70px;
    padding-top: 30px;
}

.logo h2 {
  font-size: 35px;  
  text-align: center;
  font-weight: bold;
  padding: 5px;
  color: rgb(9, 58, 55);
  text-shadow: 2px 2px 0px #858585;
}

/* Search Bar CSS */

.searchInputs {
  margin-left: 0px;
  margin-top: 0px;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}



.searchIcon {
  margin-left: -4px;
  height: 60px;
  width: 50px;
  border-radius: 5px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 35px;
}

p.info {
  text-align: center !important;
  margin: 0px;
  font-size: 15px;
}

ul.dataResult {
  padding: 0;
    margin-top: -8px;
    width: 300px;
    height: 117px;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    z-index: 99;    
    line-height: 2em;
    overflow-y: visible;
    overflow-x: hidden;
    direction: ltr;
    /*position of scroll bar can use rtl if wanted, but use div * {direction: ltr;} if you do.} */
    scrollbar-width: thin;/*fancy width*/
    scrollbar-color: #f3f0dd #154734;/*fancy colors for Firefox*/
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 300px;
  height: 50px;
  align-items: center;
  color: black;
  cursor: pointer;
}

.dataItem p {
  margin-left: 10px;
}

a {
  text-decoration: none;  
}


button.searchBar {
  border: none;
  place-items: center;
  background-color: rgba(0, 0, 0, 0);
}

img.searchBar {
  margin-left: -22px;
    margin-top: -10px;
    height: 75px;
    width: 65px;
    border: none;
    place-items: center;
}

#clearBtn {
  cursor: pointer;
}


@media screen and (width < 1080px) {
  .logo {
    margin: 5px auto;
    width: 500px;
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.307);    
    background-color: rgb(151, 214, 183);    
  }

  .logo-pos {
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
    flex-direction: row;
  }

  .logo h2 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: rgb(9, 58, 55);
    /* text-shadow: 4px 5px 14px black; */
  }

  button.showList {
    margin-left: 20px;
  }

}

@media screen and (width < 1650px) {

  .leaflet-container {
    margin-top: 370px;
    width: 98%;
    height: 60%;
    border-radius: 20px;
    border: thick double #32a1ce;
    position: absolute !important;
    z-index: 0;
  }

}

@media screen and (width < 1080px) {

  .leaflet-container {
    margin-top: 330px;
    width: 98%;
    height: 60%;
    border-radius: 20px;
    border: thick double #32a1ce;
    position: absolute !important;
    z-index: 0;
  }

}

@media screen and (width < 854px) {

  .leaflet-container {
    margin-top: 360px;
    width: 98%;
    height: 60%;
    border-radius: 20px;
    border: thick double #32a1ce;
    position: absolute !important;
    z-index: 0;
  }

}



@media screen and (width < 610px) {
  .logo {
    margin: 5px auto;
    width: 400px;
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.307);    
    background-color: rgb(151, 214, 183);    
  }

  .logo-pos {
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
    flex-direction: row;
  }

  .logo h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: rgb(9, 58, 55);
    /* text-shadow: 4px 5px 14px black; */  
  }

  button.showList {
    margin-left: 20px;
    margin-top: 160px;
  }

  button.showcontact {    
    margin-top: 160px;
  }

  .search input {
    background-color: white;
    border: 0;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 170px;
  }

  ul.dataResult {    
      width: 190px;      
  }

  .leaflet-container {
    margin-top: 380px;
    width: 98%;
    height: 60%;
    border-radius: 20px;
    border: thick double #32a1ce;
    position: absolute !important;
    z-index: 0;
  }

}

@media screen and (width < 590px) {

  .leaflet-container {
    margin-top: 420px;
    width: 98%;
    height: 60%;
    border-radius: 20px;
    border: thick double #32a1ce;
    position: absolute !important;
    z-index: 0;
  }

}

@media screen and (width < 531px) {

  .leaflet-container {
    margin-top: 350px;
    width: 98%;
    height: 60%;
    border-radius: 20px;
    border: thick double #32a1ce;
    position: absolute !important;
    z-index: 0;
  }

  button.button-category {
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    background: none;
    border: none;
}

img.logo-category {
  width: 20px;
  height: 20px;
}

}

@media screen and (width < 505px) {

  .leaflet-container {
    margin-top: 370px;
    width: 98%;
    height: 60%;
    border-radius: 20px;
    border: thick double #32a1ce;
    position: absolute !important;
    z-index: 0;
  }

}

@media screen and (width < 454px) {
  .logo {
    margin: 5px auto;
    width: 330px;
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.307);    
    background-color: rgb(151, 214, 183);    
  }

  .logo-pos {
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
    flex-direction: row;
  }

  .logo h2 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    color: rgb(9, 58, 55);
    /* text-shadow: 4px 5px 14px black; */  
  }

  button.showList {
    margin-left: 20px;
    margin-top: 185px;
    width: 60px
  }  

  ul.dataResult {    
    width: 150px;      
}

  .showList p {
    margin-block-start: 0.5em;
    margin-block-end: 1em;
    font-size: 15px;
  }


  button.showcontact {
    margin-right: 20px;
    margin-top: 185px;
  } 
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 130px;
  }

  button.button-category {
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-left: 10px;
    cursor: pointer;
    background: none;
    border: none;
}

img.logo-category {
  width: 18px;
  height: 18px;
}

  .leaflet-container {
    margin-top: 390px;
    width: 98%;
    height: 60%;
    border-radius: 20px;
    border: thick double #32a1ce;
    position: absolute !important;
    z-index: 0;
  }

}

@media screen and (width < 424px) {
  
  .leaflet-container {
    margin-top: 420px;
    width: 98%;
    height: 60%;
    border-radius: 20px;
    border: thick double #32a1ce;
    position: absolute !important;
    z-index: 0;
  }

}